@font-face {
	font-family: 'Roboto';
	src: url('../../public/fonts/RobotoCondensed-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../public/fonts/RobotoCondensed-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
