.comic {
	text-decoration: none;
	color: #000;

	&__thumbnail {
		width: 100%;
		border-radius: 5px 5px 0 0;
	}

	&__title {
		font-weight: bold;
		margin: 6px 0;
	}

	&__price {
		font-weight: bold;
		color: rgba(#000, 0.6);
	}
}

@media screen and (max-width: 520px) {
	.comic {
		&__title {
			margin: 0 0 3px 0;
		}
	}
}
