.app {
	min-height: 100vh;
	display: grid;
}

main {
	width: 84vw;
	margin: 0 auto 50px auto;
}

@media screen and (max-width: 1500px) {
	main {
		width: 90vw;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 750px) {
	main {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 500px) {
	main {
		margin-bottom: 15px;
		width: 94vw;
	}
}
