@import '../../sass/vars.scss';

.char-search {
	margin-top: 30px;
	padding: 25px;

	&__text {
		font-weight: bold;
		display: block;
	}

	.char-search__wrapper {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 25px;
		margin-top: 15px;

		.btn {
			align-self: center;
			justify-self: center;
		}
	}

	input {
		display: inline-block;
		padding: 8px 0 4px 8px;
		color: rgb(86, 86, 86);
		border: none;
		box-shadow: 0 2px 3px rgb(168, 168, 168);

		&::placeholder {
			color: rgb(86, 86, 86);
		}
	}

	&__form {
		margin-top: 10px;
		font-weight: bold;

		&_error {
			color: $main-color;
		}

		&_success {
			color: rgba(9, 111, 9, 0.872);
		}
	}
}

@media screen and (max-width: 750px) {
	.char-search {
		padding: 15px;
	}
}

@media screen and (max-width: 500px) {
	.char-search {
		margin-top: 20px;
		padding: 10px;
	}
}
