@import '../../sass/vars.scss';

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-weight: 700;

	&__title {
		font-size: calc($index * 1.25);
		text-decoration: none;
		color: #000;

		span {
			color: $main-color;
		}
	}

	nav > ul {
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 24px;
		cursor: default;

		a {
			font-size: $index;
			color: #000;
			text-decoration: none;

			&:hover {
				cursor: pointer;
				transition: 0.3s all;
				color: $main-color;
			}

			&.with-slash:after {
				content: '/';
				color: #000;
				margin: 0 5px;
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.header {
		padding: 0 20px;
		justify-content: space-between;
		&__title {
			font-size: calc($index * 1.5);
		}
		nav > ul {
			a {
				font-size: calc($index * 1.25);
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		flex-direction: column;

		&__title {
			font-size: calc($index * 2.25);
		}

		nav {
			margin-top: 20px;

			& > ul {
				a {
					font-size: calc($index * 1.75);
				}
			}
		}
	}
}
