@import '../../sass/vars.scss';

$header-color: rgb(247, 104, 104);

.header {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	height: 80px;
	background-color: $bg-color;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 700;
	transition: top 0.5s ease;

	&__title {
		font-size: calc($index * 1.25);
		text-decoration: none;
		color: #fff;

		span {
			color: $header-color;
		}
	}

	&__nav > ul {
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 24px;
		cursor: default;

		a {
			font-size: $index;
			color: #fff;
			text-decoration: none;

			&:hover {
				cursor: pointer;
				transition: 0.3s all;
				color: $header-color;
			}

			&.with-slash:after {
				content: '/';
				color: #fff;
				margin: 0 5px;
			}
		}
	}

	&_hide {
		top: -80px;
	}

	&__hamburger {
		z-index: 10;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 13%;
		width: 3.5em;
		height: 3.5em;
		transition: all 0.3s;

		div {
			z-index: 9;
			width: 30px;
			height: 4px;
			background: #d2d2d2;
			border-radius: 100px;
			transition: all 0.3s;
		}

		&_active {
			div {
				background: #fff;

				&.top {
					transform: translateY(290%) rotate(45deg);
					width: 40px;
				}

				&.mid {
					transform: translateX(-20px);
					opacity: 0;
				}

				&.bot {
					transform: translateY(-270%) rotate(-45deg);
					width: 40px;
					box-shadow: 0 0 10px #495057;
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.header {
		padding: 0 20px;
		justify-content: space-between;
		&__title {
			font-size: calc($index * 1.5);
		}
		&__nav > ul {
			a {
				font-size: calc($index * 1.25);
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.header {
		height: 60px;

		&_hide {
			top: -60px;
		}

		&__hamburger {
			display: flex;
		}

		&__nav {
			position: absolute;
			top: 0;
			right: -40vw;
			height: 101vh;
			background-color: rgb(148, 32, 32);
			opacity: 0.97;
			transition: right 0.3s ease-out;
			padding: 60px 20px;

			> ul {
				margin: 0 auto;
				width: 100%;
				display: inline-flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 10px;

				a {
					font-size: 30px;
					letter-spacing: 2px;
					color: #fff;

					&.with-slash:after {
						content: none;
					}
				}
			}

			&_show {
				right: -2px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.header {
		&__nav {
			right: -55vw;

			> ul {
				a {
					font-size: 24px;
				}
			}

			&_show {
				right: -2px;
			}
		}
	}
}
