@import '../../sass/vars.scss';

.char-info {
	padding: 25px;
	align-self: start;

	&__thumbnail {
		border-radius: 5px;
		width: 300px;
		margin-right: 25px;
		aspect-ratio: 1/1;

		& + .flex {
			flex-direction: column;
			align-items: start;
			justify-content: space-between;
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: bold;
	}

	&__src {
		.btn {
			display: block;
		}
		.btn_secondary {
			margin-top: 10px;
		}
	}

	&__descr {
		margin-top: 15px;
	}
}

@media screen and (max-width: 1550px) {
	.char-info {
		&__thumbnail {
			width: 200px;
		}
	}
}

@media screen and (max-width: 500px) {
	.char-info {
		position: relative;
		padding: 15px;
		margin-top: 14px;

		&__thumbnail {
			margin-right: 10px;
		}

		&__src {
			.btn_secondary {
				margin-top: 5px;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: -20px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: rgba($main-color, 0.6);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
		}
	}
}

@media screen and (max-width: 360px) {
	.char-info {
		&__thumbnail {
			width: 160px;
		}
	}
}
