@import '../../sass/vars.scss';

.event-page {
	img,
	.comics {
		width: 400px;
	}

	&__time {
		span {
			color: $main-color;
		}
	}

	&__details {
		margin-top: 10px;
	}

	&__routes {
		position: absolute;
		top: -10px;
		right: 20px;
		display: inline-flex;
		gap: 10px;

		> * {
			position: relative;
			background-color: $main-color;
		}

		--size: 1em;
		&-prev {
			padding-left: 1.1em;
			&::after,
			&::before {
				content: '';
				position: absolute;
				left: 0;
				background-color: $main-color;
				border-left: var(--size) #fff solid;
			}
			&::before {
				top: 0;
				border-bottom: var(--size) $main-color solid;
			}
			&::after {
				bottom: 0;
				border-top: var(--size) $main-color solid;
			}
		}

		&-next {
			padding-right: 1.1em;
			&::after,
			&::before {
				content: '';
				position: absolute;
				right: 0;
				background-color: $main-color;
				border-right: var(--size) #fff solid;
			}
			&::before {
				top: 0;
				border-bottom: var(--size) $main-color solid;
			}
			&::after {
				bottom: 0;
				border-top: var(--size) $main-color solid;
			}
		}
	}
}

@media screen and (max-width: 1920px) {
	.event-page {
		img,
		.comics {
			width: 300px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.event-page {
		&__routes {
			position: relative;
			grid-column: 1 / -1;
			justify-self: center;
			top: -14px;
			right: 0;
		}
	}
}

@media screen and (max-width: 750px) {
	.event-page {
		&__routes {
			top: -7px;
		}

		.comics {
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	.event-page {
		&__wrapper {
			margin-left: 15px;
		}
	}
}

// @media screen and (max-width: 420px) {
// 	.event-page {
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;

// 		img {
// 			width: 250px;
// 		}

// 		&__wrapper {
// 			margin-top: 5px;
// 			width: 100%;
// 			justify-content: center;
// 			align-items: center;
// 			text-align: center;
// 			gap: 10px;
// 		}
// 	}
// }
