@import '../../sass/vars.scss';

.comic-page {
	img {
		width: 400px;
	}

	&__price {
		font-weight: bold;
		color: $main-color;
	}
}

@media screen and (max-width: 1920px) {
	.comic-page {
		img {
			width: 300px;
		}
	}
}

@media screen and (max-width: 750px) {
	.comic-page {
		img {
			width: 38vw;
		}
	}
}

@media screen and (max-width: 420px) {
	.comic-page {
		img {
			width: 250px;
		}
	}
}
