.char-page {
	img {
		width: 23vw;
		border-radius: 10px;
	}

	.comics {
		width: 23vw;
	}
}

@media screen and (max-width: 1500px) {
	.char-page {
		img {
			width: 350px;
		}

		.comics {
			width: 350px;
		}
	}
}

@media screen and (max-width: 750px) {
	.char-page {
		img {
			width: auto;
			height: 65vh;
			max-width: 90%;
		}

		.comics {
			width: 100%;
		}

		&__descr {
			margin-top: 5px;
		}

		&__title {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 500px) {
	.char-page {
		img {
			width: auto;
			height: 50vh;
			max-width: 95%;
		}
	}
}
