@import '../../../sass/vars.scss';

.character {
	padding: 15px;
	cursor: pointer;
	min-height: 320px;
	width: 200px;
	background-color: $bg-color;

	&__thumbnail {
		width: 199px;
		transform: translate(-14px, -15px);
		border-radius: 5px 5px 0 0;
		aspect-ratio: 1/1;
	}

	&__title {
		text-transform: uppercase;
		color: #fff;
		font-size: 22px;
		margin-top: 15px;
	}

	&_selected {
		transition: box-shadow 0.2s, transform 0.2s;
		box-shadow: 0 5px 20px $main-color;
		transform: translateY(-8px);
	}
}
